{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto flex items-center justify-center">
        <div class="max-w-[534px] w-full flex items-center justify-center my-4">
            <form action="{% url 'change_password'%}" method="post" class="w-full">
                {% csrf_token %}
                <div class="px-4 flex flex-col gap-4 text-sm">
                    <h1 class="font-semibold text-[2.075rem] py-5">Defina uma nova senha</h1>
                    <div class="flex flex-col gap-4">
                        <label for="password" class="flex flex-col gap-1">
                            <p class="font-semibold">Senha</p>
                            {{form.password}}
                        </label>
                        <label for="confirm_password" class="flex flex-col gap-1">
                            <p class="font-semibold">Repita sua senha</p>
                            {{form.confirm_password}}
                        </label>
                        <button type="submit" class="bg-green-700 hover:bg-green-800 text-white font-semibold py-3 rounded-lg">
                            Recuperar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}