{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto flex items-center justify-center">
        <div class="max-w-[534px] w-full flex flex-col items-center justify-center my-4">
            <form action="{% url 'login' %}" method="post" class="w-full">
                {% csrf_token %}
                <div class="px-4 flex flex-col gap-4 text-sm">
                    {% include "alerts/alerts.html" %}
                    <h1 class="font-semibold text-[2.075rem] py-5">Login</h1>
                    <div class="flex flex-col gap-4">
                        <label for="email" class="flex flex-col gap-1">
                             <p class="font-semibold">Email</p>
                            {{form.email}}
                        </label>
                        <label for="password" class="flex flex-col gap-1">
                             <p class="font-semibold">Email</p>
                            {{form.password}}
                        </label>
                        <button type="submit" class="bg-green-700 hover:bg-green-800 text-white font-semibold py-3 rounded-lg">
                            Login
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <p>Novo no TabNews? <a href="{% url 'signup' %}" class="text-blue-500 hover:text-blue-600">Crie sua conta aqui.</a></p>
                <p>Esqueceu sua senha? <a href="{% url 'recover' %}" class="text-blue-500 hover:text-blue-600">Clique aqui.</a></p>
            </div>
        </div>
    </div>
{% endblock %}