{% load static %}
{% load named_title %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" csontent="ie=edge">
        <title>
            {{ request.path|title_name}}
            Tabnews
        </title>
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}" defer></script>
<!--    <script src="https://cdn.tailwindcss.com"></script>-->

    </head>
    <body class="bg-gray-50 dark:bg-darkMode text-dark font-sans border-box">

        {% include "components/navbar.html" %}

        <main class="min-h-screen container mx-auto text-dark dark:text-white ">

            {% block content %}

            {% endblock %}
        </main>

        {% include "components/footer.html" %}

    </body>
</html>