{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto flex items-center justify-center">
        <div class="max-w-[534px] w-full flex items-center justify-center mt-24">
                <div class="px-4 flex flex-col text-sm text-center">
                    <h1 class="font-semibold text-[2.075rem] py-5 ">Confira seu e-mail</h1>
                    <p>Você receberá um link para definir uma nova senha.</p>
                    </div>
                </div>

        </div>
    </div>
{% endblock %}