<form action="{% url 'add_coment'  %}" method="post" class="flex flex-col gap-2 items-start">
    {% csrf_token %}

    <div class="send w-full flex flex-col gap-4 justify-end">
        <input type="hidden" name="comment_id" value="{{comment.id}}">
        <input type="hidden" name="object_id" value="{{object.id}}">
        {{form.description}}
        <div class="flex flex-row justify-end gap-4 font-bold">
            <div onmousedown="closeForm(this)"
                class="px-4 py-1 text-gray-500 hover:bg-gray-500 hover:bg-opacity-20 dark:bg-darkButton rounded-md dark:border-opacity-20 hover:cursor-pointer">
                Cancelar
            </div>
            <button type="submit"
                class="text-white px-4 py-1 bg-green-500 hover:bg-green-400 rounded-md border-[0.0125rem] dark:border-green-500   hover:dark:border-opacity-20 hover:cursor-pointer">
                Publicar
            </button>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div onmousedown="openForm(this)" id="open-form"
        class="px-4 py-2 bg-gray-300 dark:bg-darkButton rounded-md border-[0.0125rem] border-gray-400 dark:border-opacity-20">
        Responder</div>
    {% else %}

    <a href="{% url 'login' %}"
        class="px-4 py-2 bg-gray-300 dark:bg-darkButton rounded-md border-[0.0125rem] border-gray-400 dark:border-opacity-20">
        Responder</a>
    {% endif %}

</form>